/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


:root {
    --primary-color: #B9D9EB;
    --secondary-color: #228B22; 
    --acient1-color: #FF7518;
    --acient2-color: #F5FFFA;
}

body {
    font-family: "Merriweather", serif;
    background-color: var(--acient2-color);
    color: black;
    /* overflow-x: hidden; */
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    text-align: center;   
}


header {
    background-color: var(--primary-color);
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
}

.contact p {
    text-align: center;
    /* font-size: 20px;color: var(--acient1-color); */
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px 40px 10px 40px;
    border: 1px solid var(--acient2-color);
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.logo {
    grid-column-start: 2;
    grid-column-end: 2;
    /* border: 1px solid var(--acient1-color); */
}

.hero {
    position: relative;
}

/* h1 {
    position: absolute;
    top: -270px;
    left: 40%;
    color: var(--acient2-color);
    /* border: 1px solid var(--primary-color); */
    /* background-color: var(--primary-color); */
    /* font-size: 40px; 
} */

.hero {
    width: 100%;
    height: 600px;
}

article {
    display: flex;
    border: 1px solid var(--primary-color);
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: row-reverse;
    position: absolute;
    top: 40%;
    margin: 20px;
    padding: 15px;
}

article p {
    padding: 0 25px 0 25px;
}

.adv {
    display: flex;
    justify-content: center;
}

footer {
    background-color: var(--acient1-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

footer p {
    grid-column-start: 2;
}

footer .social-icons {
    /* border: 1px solid var(--acient1-color); */
    grid-column-start: 3;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
}

.social-icons img {
    padding: 0px 5px 0px 5px;
}

.history {
    display: flex;
    justify-content: center;
    /* background-color: var(--primary-color); */
    
}

.history p {
    padding: 0 25px 0 25px;
    text-align: justify;
}

/* form {
    border: 1px solid black;
    height: 200px;
} */

iframe {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--primary-color);
    border: 1px solid var(--acient1-color);
}

.team {
    display: flex;
    justify-content: center;
}


form {
    width: 200px;
    margin: 0 auto;
}

.info {
    border: 1px solid var(--primary-color);
    width: 50%;
    margin: 0 auto;
    background-color: var(--primary-color);
}

.call-to-action {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    /* background-color: var(--primary-color); */
    padding: 20px;
    
}

button {
    margin: 0 auto;
}

.purpose {
    display: flex;
    justify-content: space-evenly;
    /* background-color: var(--primary-color); */

}
.offering {
    display: flex;
    justify-content: space-evenly;
    /* background-color: var(--primary-color); */
    margin-bottom: 50px;

}

.call-to-action2 {
    display: flex;
    flex-direction: column;
    
}

.detailed-trip {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

table {
    border: 1px solid var(--primary-color);
    width: 50%;
    margin: 0 auto;
    background-color: var(--primary-color);
    margin-bottom: 50px;
}

table th {
    background-color: var(--acient1-color);
    color: black;
}

table td {
    background-color: var(--acient2-color);
    color: black;
}
