:root {
    --primary-color: #B9D9EB;
    --secondary-color: #228B22;
    --acient1-color: #FF7518;
    --acient2-color: #F5FFFA;
}

body {
    font-family: "Merriweather", serif;
    background-color: var(--acient2-color);
    color: black;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Adjust width as needed */
    margin: auto;
    overflow: hidden;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 0%;
    left: 5%;
    color: var(--primary-color);
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero article {
    position: absolute;
    bottom: 25%;
    left: 1%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background with opacity */
    color: white;
    padding: 15px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    margin-left: 10px;
    border-radius: 5px;
}

h2 {
    color: var(--primary-color);
    /* font-size: 2rem;
    text-align: center;
    margin: 20px 0; */
}